:root {
  --main-color: rgb(92, 216, 255);
  --secondary-color: rgb(64, 114, 241);
}

.login_form,
.registration_form,
.add_form,
.edit_form {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-bottom: 10px;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 2px solid var(--main-color);
  padding: 25px;
  width: 40%;
}

form > div {
  width: 100%;
}

label {
  width: 75%;
  text-align: start;
}

input {
  width: 75%;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  margin-top: -10px;
}

small {
  width: 75%;
  text-align: start;
}

.checkbox {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#terms {
  width: 15px;
  height: 15px;
  margin-top: 5px;
  margin-left: 30px;
  margin-right: 10px;
}

.edit_buttons {
  display: flex;
  flex-direction: row;
  justify-content:  space-evenly;
  width: 100%;
}

