<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Sheets Page</title>
	<link rel="stylesheet" href="../css/main.css" />
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
		integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<body>
	<ul class="navigation_bar">
		<a th:href="@{/}" class="logo"><img th:src="@{images/MusicSheetsLogo.png}" alt="logo" /></a>
		<a th:href="@{/}" class="home_nav">Home</a>
		<a th:href="@{/sheets}" class="sheets_nav">Sheets</a>
		<a th:href="@{/profile}" class="profile_nav">Profile</a>
		<div sec:authorize="isAnonymous()">
			<a th:href="@{/login}" class="login_button">Login</a>
		</div>
		<div sec:authorize="isAuthenticated()">
			<a th:href="@{/logout}" class="logout_button">Logout</a>
		</div>
		<br />
		<div sec:authorize="isAnonymous()">
			<a th:href="@{/registration}" class="register_button">Register</a>
		</div>
	</ul>
	<div>
		<h2>Music Sheets</h2>

		<a th:href="@{/sheets/add}" class="add_button" style="margin-top:-50px;">Add</a>
		<div class="searchbars">
			<input type="text" id="titleInput" onkeyup="titleSearch()" placeholder="Search for title..." />
			<input type="text" id="composerInput" onkeyup="composerSearch()" placeholder="Search for composer...">
			<input type="text" id="instrumentInput" onkeyup="instrumentSearch()" placeholder="Search for instrument...">
		</div>
		</div>
		<table class="table" id="sheetTable">
			<thead>
				<tr>
					<th>Sheet(s)</th>
					<th>Title</th>
					<th>Composer(s)</th>
					<th>Instrument(s)</th>
					<th>Posted By</th>
					<th>Website Link</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="sheet : ${sheets}">
					<td><iframe th:src="${sheet.images}"></iframe></td>
					<td th:text="${sheet.title}"></td>
					<td th:text="${sheet.composers}"></td>
					<td th:text="${sheet.instruments}"></td>
					<td th:text="${sheet.user}"></td>
					<td><a th:href="${sheet.images}">Link</a></td>
				</tr>
			</tbody>
		</table>
	</div>
	<div class="footer">
		<a th:href="@{/}" class="logo_footer"><img th:src="@{images/MusicSheetsLogo.png}" alt="logo" /></a>
		<div class="pages_list">
			<h3>Pages</h3>
			<li>Home</li>
			<li>Sheets</li>
			<li>Profile</li>
		</div>
		<br />
		<h5>© Music Sheets 2022</h5>
		<div class="footer_text">
			<h7>Contact Us</h7>
			<h7>Terms and Conditions</h7>
			<h7>Privacy Policy</h7>
		</div>
	</div>
	<script src="../js/search.js"></script>
</body>

</html>